version: "3.9"

services:
  api:
    image: busybox
    command: sleep 3600
    networks:
      backend:

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: testdb
    networks:
      backend:

networks:
  backend:
    driver: bridge
