apiVersion: apps/v1
kind: Deployment
metadata:
  name: green-deployment
  namespace: blue-green-ns
spec:
  replicas: 5
  selector:
    matchLabels:
      app: green-app
  template:
    metadata:
      labels:
        app: green-app
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html  
      volumes:
      - name: html-volume
        configMap:
          name: green-html-configmap