apiVersion: apps/v1
kind: Deployment
metadata:   
  name: blue-deployment
  namespace:  blue-green-ns
spec:         
  replicas: 5
  selector:
    matchLabels:
      app: blue-app
  template:
    metadata:     
      labels:
        app: blue-app 
    spec:
      containers:     
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80