version: "3.9"

services:
  frontend:
    image: nginx
    container_name: frontend
    ports:
      - "8080:80"
    networks:
      - frontend-net

  api:
    image: alpine
    container_name: api
    command: sleep 3600
    networks:
      - frontend-net
      - backend-net

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: testdb
    networks:
      - backend-net

networks:
  frontend-net:
  backend-net:
