#NOTE  :   secrets and .env is should add manually#

version: "3.9"


services:
  frontend:
    image: nginx:alpine
    container_name: micro-proxy
    ports:
      - "80:80" 
    volumes:
        - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - frontend-net
    depends_on:
      - api
      

  api:
    build: ./api
    container_name: micro-api
    networks:
      - frontend-net
      - backend-net
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    container_name: micro-db
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password 
    secrets:
      - db_password
    networks:
      - backend-net
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5  

networks:
  frontend-net:
  backend-net:

secrets:
  db_password:
    file: ./secrets/db_password.txt 
