apiVersion: apps/v1
kind: Deployment  
metadata:
  name: rolling-update
  namespace: rolling-update-ns
spec:
  replicas: 3 
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1 
      maxSurge: 1
  selector:
    matchLabels:  
      app: rolling-update-demo  
  template:

    metadata:
      labels:
        app: rolling-update-demo  
    spec:
      containers:
      - name: nginx
        image: nginx:1.19
        ports:
        - containerPort: 80